.product-layout {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 40px;
  background: #ffffff;
  padding: 36px;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  font-family: var(--font-main);
}

.product-gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.product-gallery img:first-child {
  grid-row: span 2;
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
  height: 100%;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}

.product-gallery img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 100%;
}

.product-gallery img:hover {
  transform: scale(1.05);
}


.product-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-aside h1 {
  font-size: 2.1rem;
  margin-bottom: 12px;
  color: var(--font-color);
  font-weight: 700;
  line-height: 1.2;
}

.product-aside h2 {
  font-size: 1.4rem;
  margin: 20px 0 12px;
  color: var(--primary-color);
  font-weight: 600;
}

.product-aside h3 {
  font-size: 1.25rem;
  margin: 20px 0 12px;
  color: var(--primary-color);
  font-weight: 600;
}


.product-aside .price {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-accent);
  margin-bottom: 18px;
  line-height: 1.2;
}

.product-aside .description {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 22px;
  color: var(--font-color)
}

.actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.btn-add,
.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  background: #5D9C59;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.05rem;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
  flex: 1;
  min-height: 52px;
  box-sizing: border-box;
}

.btn-add {
background: var(--primary-color);
color: white;

}

.btn-back {
  background: #f0f0f0;
  color: var(--font-color);
}

.btn-add:hover {
  background: #F9A825;
   transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(249, 168, 37, 0.3);
}

.btn-back:hover {
  background: #bbb;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(187, 187, 187, 0.3);
}

@media (max-width: 768px) {
  .product-layout {
    grid-template-columns: 1fr; 
  }

  .product-aside {
    align-items: center;
    text-align: center;
  }

  .actions {
    flex-direction: column;
  }

  .btn-add,
  .btn-back {
    width: 100%;
  }

}

@media (max-width: 480px) {
  .product-aside h1 {
    font-size: 1.6rem;
  }

  .product-aside .price {
    font-size: 1.4rem;
  }

  .product-aside .description {
    font-size: 0.95rem;
  }
} 